In [2]:
import pandas as pd

In [3]:
url = "https://warp.da.ndl.go.jp/info:ndljp/pid/11423429/www.stat.go.jp/data/chouki/zuhyou/20-01-a.xls"
df_original = pd.read_excel(url, header = None, index_col = None)

In [4]:
df_original

,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
0,２０－１－ａ １世帯当たり年平均１か月間の消費支出（全世帯）－ 全都市,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,（昭和２１年～３７年）,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20-1-a Annual Average of Monthly Consumption E...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,- All Cities (1946--1962),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,(単位 金額 円),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,(Value in yen),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,年次,,NaN,集計世帯数,世帯人員,有業人員,消費支出,NaN,NaN,NaN,...,NaN,NaN,NaN,実支出以外の支出,NaN,NaN,NaN,NaN,NaN,現物消費支出
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,食料費,NaN,NaN,...,その他の税,社会保障費,その他の非消費支出,NaN,貯金,保険掛金,借金返済,月賦・掛買払,その他,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,穀類,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,米類,...,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN
11,Year,NaN,NaN,Households tabulated,Persons per household,Earners per household,Living expenditure 2),Food\n3),Cereals\n4),Rice,...,Other taxes,Social security,Other,Disbursements other than expenditure,Savings,Insurance premium payments,Debt payments,Instalment & credit purchase payments,Other,Expenditure in kind
12,昭和21年,1946,1),4733,...,...,2125,1411,562,...,...,...,...,...,...,...,...,...,...,...,...
13,22,1947,NaN,4664,4.7,1.47,4684,2952,1121,...,...,...,...,...,...,...,...,...,...,...,...
14,23,1948,NaN,5118,4.81,1.48,8780,5302,2203,...,...,...,...,...,...,...,...,...,...,...,...
15,24,1949,NaN,5279,4.74,1.42,11885,7138,2929,...,...,...,...,...,...,...,...,...,...,...,...
16,25,1950,NaN,4918,4.79,1.39,11980,6880,2692,...,...,...,...,...,...,...,...,...,...,...,...
17,26,1951,NaN,3816,4.8,1.41,14389,7822,2909,...,...,*,...,...,...,...,...,298,...,...,...
18,27,1952,NaN,3815,4.89,1.46,17838,9134,3420,...,...,*,...,...,...,...,...,350,...,...,...
19,28,1953,NaN,3816,4.92,1.52,21381,10374,3946,3025,...,363,342,106,3024,1063,617,398,862,84,731
20,29,1954,NaN,3839,4.91,1.54,22678,10995,4117,3116,...,413,438,129,3832,1358,723,490,1151,110,895
21,30,1955,NaN,3934,4.84,1.55,23211,10891,4034,3079,...,473,512,130,4627,1851,837,453,1258,228,945
22,31,1956,NaN,3943,4.61,1.54,23958,10786,3775,3062,...,488,549,128,5512,2301,935,451,1440,385,1171
23,32,1957,NaN,3983,4.56,1.55,25608,11368,3916,3243,...,484,580,131,6194,2706,1003,456,1623,406,1306
24,33,1958,NaN,4015,4.57,1.58,27171,11898,3928,3259,...,489,634,79,6724,2953,1139,538,1738,356,1276
25,34,1959,NaN,3994,4.56,1.64,28902,12260,3884,3237,...,473,670,53,7797,3537,1298,575,1893,494,1238
26,35,1960,NaN,3987,4.51,1.65,31276,13000,3843,3223,...,510,782,52,8721,4071,1421,632,2034,563,1258
27,36,1961,NaN,3958,4.35,1.63,34329,13842,3659,3019,...,549,890,56,10104,4771,1516,665,2313,839,1588
28,37,1962,NaN,3956,4.29,1.62,38587,15063,3605,2919,...,693,1038,72,11208,5539,1773,689,2459,748,2052
29,(1) 昭和21～27年は品目分類，28年以降は用途分類。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,1) 8～12月平均。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2) 昭和22～25年は，「負担費」を含まない。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,3) 昭和26，27年は，食料費全体についてその他の項目に分類できない食料品費を含む。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,4) 昭和21～27年は主食。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,5) 昭和22～25年は，「その他の雑費」及び「家屋購入費」を含む。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,"(1) From 1946 through 1952, data by commoditie...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,1) Averages of August through December.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,"2) From 1947 through 1950, excluding ""Obligat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,"3) For 1951 and 1952, including food which ca...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,"4) From 1946 through 1952, representing stapl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,"5) From 1947 through 1950, including ""Other"" ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,〔資料〕 総理府統計局「家計調査年報」（刊行物）,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,"Source: Statistics Bureau, Prime Minister's O...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
stat_name_jpn = df_original.loc[[0,1],0]

In [6]:
stat_name_eng = df_original.loc[[2,3],0]

In [7]:
stat_name_jpn, stat_name_eng

(0    ２０－１－ａ　１世帯当たり年平均１か月間の消費支出（全世帯）－　全都市
 1                            （昭和２１年～３７年）
 Name: 0, dtype: object,
 2    20-1-a Annual Average of Monthly Consumption E...
 3                            - All Cities (1946--1962)
 Name: 0, dtype: object)

In [8]:
# remove columns and rows with too many nulls
df_dropped = df_original.loc[df_original.notnull().sum(axis=1) > 2, df_original.notnull().sum() > 2]

In [9]:
df_dropped

,0,1,3,4,5,6,7,8,9,10,...,53,54,55,56,57,58,59,60,61,62
7,年次,,集計世帯数,世帯人員,有業人員,消費支出,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,実支出以外の支出,NaN,NaN,NaN,NaN,NaN,現物消費支出
8,NaN,NaN,NaN,NaN,NaN,NaN,食料費,NaN,NaN,NaN,...,その他の税,社会保障費,その他の非消費支出,NaN,貯金,保険掛金,借金返済,月賦・掛買払,その他,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,穀類,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,米類,麦・雑穀類,...,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN
11,Year,NaN,Households tabulated,Persons per household,Earners per household,Living expenditure 2),Food\n3),Cereals\n4),Rice,Barley & other cereals,...,Other taxes,Social security,Other,Disbursements other than expenditure,Savings,Insurance premium payments,Debt payments,Instalment & credit purchase payments,Other,Expenditure in kind
12,昭和21年,1946,4733,...,...,2125,1411,562,...,...,...,...,...,...,...,...,...,...,...,...,...
13,22,1947,4664,4.7,1.47,4684,2952,1121,...,...,...,...,...,...,...,...,...,...,...,...,...
14,23,1948,5118,4.81,1.48,8780,5302,2203,...,...,...,...,...,...,...,...,...,...,...,...,...
15,24,1949,5279,4.74,1.42,11885,7138,2929,...,...,...,...,...,...,...,...,...,...,...,...,...
16,25,1950,4918,4.79,1.39,11980,6880,2692,...,...,...,...,...,...,...,...,...,...,...,...,...
17,26,1951,3816,4.8,1.41,14389,7822,2909,...,...,...,*,...,...,...,...,...,298,...,...,...
18,27,1952,3815,4.89,1.46,17838,9134,3420,...,...,...,*,...,...,...,...,...,350,...,...,...
19,28,1953,3816,4.92,1.52,21381,10374,3946,3025,318,...,363,342,106,3024,1063,617,398,862,84,731
20,29,1954,3839,4.91,1.54,22678,10995,4117,3116,311,...,413,438,129,3832,1358,723,490,1151,110,895
21,30,1955,3934,4.84,1.55,23211,10891,4034,3079,314,...,473,512,130,4627,1851,837,453,1258,228,945
22,31,1956,3943,4.61,1.54,23958,10786,3775,3062,216,...,488,549,128,5512,2301,935,451,1440,385,1171
23,32,1957,3983,4.56,1.55,25608,11368,3916,3243,178,...,484,580,131,6194,2706,1003,456,1623,406,1306
24,33,1958,4015,4.57,1.58,27171,11898,3928,3259,152,...,489,634,79,6724,2953,1139,538,1738,356,1276
25,34,1959,3994,4.56,1.64,28902,12260,3884,3237,120,...,473,670,53,7797,3537,1298,575,1893,494,1238
26,35,1960,3987,4.51,1.65,31276,13000,3843,3223,84,...,510,782,52,8721,4071,1421,632,2034,563,1258
27,36,1961,3958,4.35,1.63,34329,13842,3659,3019,54,...,549,890,56,10104,4771,1516,665,2313,839,1588
28,37,1962,3956,4.29,1.62,38587,15063,3605,2919,40,...,693,1038,72,11208,5539,1773,689,2459,748,2052

In [20]:
df_picked = df_dropped.iloc[4:, [0, 1, 3, 5, 6]]

In [ ]:
columns = ['year_jpn', 'year_wst', 'hh_size', 'exp', 'food_exp']

In [21]:
df_picked

        0     1                      4                      6         7
11   Year   NaN  Persons per household  Living expenditure 2)  Food\n3)
12  昭和21年  1946                    ...                   2125      1411
13    22　  1947                    4.7                   4684      2952
14    23　  1948                   4.81                   8780      5302
15    24　  1949                   4.74                  11885      7138
16    25　  1950                   4.79                  11980      6880
17    26　  1951                    4.8                  14389      7822
18    27　  1952                   4.89                  17838      9134
19    28　  1953                   4.92                  21381     10374
20    29　  1954                   4.91                  22678     10995
21    30　  1955                   4.84                  23211     10891
22    31　  1956                   4.61                  23958     10786
23    32　  1957                   4.56                  25608     11368
24    33　  1958                   4.57                  27171     11898
25    34　  1959                   4.56                  28902     12260
26    35　  1960                   4.51                  31276     13000
27    36　  1961                   4.35                  34329     13842
28    37　  1962                   4.29                  38587     15063

In [10]:
columns = df_dropped.loc[11,:]

In [11]:
columns

0                                      Year
1                                       NaN
3                      Households tabulated
4                     Persons per household
5                     Earners per household
                      ...
58               Insurance premium payments
59                            Debt payments
60    Instalment & credit purchase payments
61                                    Other
62                      Expenditure in kind
Name: 11, Length: 62, dtype: object

In [29]:
columns[0, 1] = ['year_jpn', 'year_wst']

In [30]:
df_dropped.columns = columns

In [31]:
df_dropped = df_dropped.loc[13:]

In [32]:
df_dropped.loc[14, 'year_jpn']

'29\u3000'

In [33]:
df_dropped['year_jpn'] = df_dropped['year_jpn'].astype(str).map(lambda x: x.rstrip('\u3000'))

/Users/satoshi/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
df_dropped.loc[13,'year_jpn'] = 28

/Users/satoshi/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/Users/satoshi/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [35]:
df_dropped.loc[49,'year_jpn'] = 1

In [36]:
df_dropped

11,year_jpn,year_wst,Income,Wages & salaries,Expenditures,Consumption expenditures,Food
13,28,1953,26025,24237,24687,21727,9774
14,29,1954,28283,26305,26428,23067,10501
15,30,1955,29169,27080,26786,23513,10465
16,31,1956,30776,28567,27543,24231,10399
17,32,1957,32664,30418,28946,26092,10937
...,...,...,...,...,...,...,...
2695,15,2003,391555,352165,293954,248222,54667
2696,16,2004,374281,355897,281119,243298,56052
2697,17,2005,367625,345019,287936,251565,57142
2698,18,2006,348394,329051,267423,227582,51389
2699,19,2007,376571,333013,276567,237766,51969

In [37]:
# pick consumption expenditures and food expenditures for the national average
df_picked = df_dropped.iloc[:, [0,1,-2,-1]]

In [38]:
df_picked = df_picked.loc[:68]

In [39]:
df_picked['non_food'] = df_picked['Consumption expenditures'].astype(int) - df_picked['Food'].astype(int)

In [40]:
df_picked.to_csv('../../Data/Downloaded/post_hh_cns_nom.csv', index = False)