In [1]:
# generate value added df

In [2]:
import pandas as pd

In [3]:
url = 'http://d-infra.ier.hit-u.ac.jp/Japanese/ltes/LTES_01.xlsx'

In [4]:
xl = pd.ExcelFile(url)

In [5]:
df_original = xl.parse('第25表')

In [6]:
stat_name_jpn = df_original.iloc[0, 2]

In [7]:
stat_name_eng = df_original.iloc[1,2]

In [8]:
unit_jpn = df_original.iloc[12,2]

In [9]:
unit_eng = df_original.iloc[13,2]

In [10]:
# Remove columns and rows with too many nulls
df_dropped = df_original.loc[df_original.notnull().sum(axis=1) > 2, df_original.notnull().sum() > 2]

In [11]:
columns = df_dropped.iloc[4,:]
columns[0] = 'year_wst'

In [12]:
df_dropped.columns = columns

In [13]:
df_dropped

8,year_wst,J0124__001,J0124__002,J0124__003,J0124__004,J0124__005,J0124__006,J0124__007,J0124__008
4,NaN,31753,31754,31755,31756,31757,31758,31759,31760
5,NaN,1,1,1,1,1,1,1,1
6,NaN,産業別純国内生産：農林水産業,産業別純国内生産：鉱工業,産業別純国内生産：建設業,産業別純国内生産：運輸通信公益事業,産業別純国内生産：商業，サ−ビス業Ａ,産業別純国内生産：小計,産業別純国内生産：帰属家賃,産業別純国内生産：純国内生産
7,NaN,Net Domestic Product by Industry at Market Pri...,Net Domestic Product by Industry at Market Pri...,Net Domestic Product by Industry at Market Pri...,Net Domestic Product by Industry at Market Pri...,Net Domestic Product by Industry at Market Pri...,Net Domestic Product by Industry at Market Pri...,Net Domestic Product by Industry at Market Pri...,Net Domestic Product by Industry at Market Pri...
8,year_wst,J0124__001,J0124__002,J0124__003,J0124__004,J0124__005,J0124__006,J0124__007,J0124__008
...,...,...,...,...,...,...,...,...,...
65,1936,3069,5063,1382,1618,5666,16798,788,17586
66,1937,3149,5139,1453,1632,6237,17610,809,18419
67,1938,3057,6507,1366,1720,6156,18806,869,19675
68,1939,3308,7691,1450,1891,7607,21947,739,22686
69,1940,3205,8329,1323,2056,7600,22513,793,23306

In [14]:
df_picked = df_dropped[['year_wst', 'J0124__001', 'J0124__006']]

In [15]:
df_picked = df_picked.iloc[10:]

In [16]:
df_picked.columns = ['year_wst', 'prm_GDP', 'tot_GDP']

In [17]:
df_picked['non_prm_GDP'] = df_picked['tot_GDP'] - df_picked['prm_GDP']

In [18]:
df_picked.to_csv('../../Data/Downloaded/pre_GDP.csv', index = False)