In [1]:
import pandas as pd

In [2]:
url = "https://warp.da.ndl.go.jp/info:ndljp/pid/11423429/www.stat.go.jp/data/chouki/zuhyou/02-07.xls"

In [3]:
df_original = pd.read_excel(url, header = None, index_col = None)

In [4]:
df_original

,0,1,2,3,4,5,6,7,8,9,10
0,２－７ 都道府県・市部・郡部別人口，人口密度，人口集中地区人口及び面積（明治３１年～平成１７年）,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"2-7 Population, Population Density, Populatio...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"都道府県,年次",NaN,人口,NaN,NaN,面積(平方キロメートル),人口密度(1平方キロメートル当たり),人口集中地区,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,densely Inhabited districts,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1199,f) Excluding Amami-Islands.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1200,g) Including Amami-Islands.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1201,〔資料〕総務省統計局統計調査部国勢統計課「国勢調査報告」,NaN,NaN,NaN,NaN,ホームページ,NaN,NaN,NaN,NaN,NaN
1202,内閣統計局「日本帝国人口統計」「日本帝国人口静態統計」,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1203,"Source: Statistical Survey Department, Stati...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
stat_name_jpn = df_original.loc[0,0]

In [6]:
stat_name_eng = df_original.loc[1,0]

In [7]:
df_original.iloc[9, 0]

'全国'

In [8]:
df_original.iloc[9+24, 0]

'北海道'

In [9]:
# remove columns and rows with too many nulls
df_dropped = df_original.loc[df_original.notnull().sum(axis=1) > 2, df_original.notnull().sum() > 2].reset_index(drop = True)

In [10]:
df_dropped = df_dropped.replace('-', 0)

In [11]:
df_dropped

,0,1,2,3,4,5,6,7,8,9,10
0,"都道府県,年次",NaN,人口,NaN,NaN,面積(平方キロメートル),人口密度(1平方キロメートル当たり),人口集中地区,NaN,NaN,NaN
1,NaN,NaN,NaN,市部,郡部,NaN,NaN,市部,NaN,郡部,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,人口,面積（平方キロメートル）,人口,面積（平方キロメートル）
3,Prefecture and year,NaN,Population \n 1) 2),All Shi (urban),All Gun (rural),Area (square kilometer)\n 3) 4) 5),Population density\n(per square kilometer) 6),Population,Area (square kilometer),Population,Area (square kilometer)
4,明治31年,1898.0,45403041,5334563,40068478,...,...,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1103,60,1985.0,1179097,796714,382383,2254.17,523,606489,75.6,59816,9
1104,平成 2年,1990.0,1222398,825965,396433,2264,540,650721,86.8,97965,16
1105,7,1995.0,1273440,857390,416050,2266.04,562,697324,96.6,125965,20.5
1106,12,2000.0,1318220,881832,436388,2271.3,580,718373,100.1,134145,21.2
1107,17,2005.0,1361594,1014617,346977,2274.59,599,791437,108.6,101838,17.3

In [12]:
columns_original = df_dropped.iloc[3,:]

In [13]:
columns_original

0                                 Prefecture and year
1                                                 NaN
2                               Population　　\n 1)  2)
3                                     All Shi (urban)
4                                     All Gun (rural)
5                Area (square kilometer)\n 3)  4)  5)
6     Population density\n(per square kilometer)   6)
7                                         Population
8                             Area (square kilometer)
9                                         Population
10                            Area (square kilometer)
Name: 3, dtype: object

In [14]:
columns = ['year_jpn', 'year_wst', 'pop_tot', 'pop_urban', 'pop_rural', 'area', 'pop_density', 
           'pop_urban_dense', 'area_urban_dense', 'pop_rural_dense', 'area_rural_dense']

In [15]:
df_dropped.columns = columns

In [16]:
# Number of rows of data for each prefecture
rows_data = 23

In [17]:
data_row_init = 4

In [18]:
df_dropped.iloc[4, 0]

'明治31年'

In [19]:
df_dropped.iloc[4:4+rows_data, 0]

4     明治31年
5       36
6       41
7     大正 2年
8        7
9        9
10      14
11    昭和 5年
12      10
13      15
14      22
15      25
16      30
17      35
18      40
19      45
20      50
21      55
22      60
23    平成 2年
24       7
25      12
26      17
Name: year_jpn, dtype: object

In [20]:
# Number of rows between labels in each prefecture
rows_label = 24

In [21]:
# Create a dictionary of prefectures and indices
pref_labels = {}
num_of_prefs = 48
pref_row_init = 9
for i in range(num_of_prefs):
    pref_name = df_original.iloc[pref_row_init + i * rows_label, 0].strip()
    pref_row  = data_row_init + i * rows_data
    pref_labels[pref_name] = pref_row

In [22]:
pref_labels

{'全国': 4,
 '北海道': 27,
 '青森県': 50,
 '岩手県': 73,
 '宮城県': 96,
 '秋田県': 119,
 '山形県': 142,
 '福島県': 165,
 '茨城県': 188,
 '栃木県': 211,
 '群馬県': 234,
 '埼玉県': 257,
 '千葉県': 280,
 '東京都': 303,
 '神奈川県': 326,
 '新潟県': 349,
 '富山県': 372,
 '石川県': 395,
 '福井県': 418,
 '山梨県': 441,
 '長野県': 464,
 '岐阜県': 487,
 '静岡県': 510,
 '愛知県': 533,
 '三重県': 556,
 '滋賀県': 579,
 '京都府': 602,
 '大阪府': 625,
 '兵庫県': 648,
 '奈良県': 671,
 '和歌山県': 694,
 '鳥取県': 717,
 '島根県': 740,
 '岡山県': 763,
 '広島県': 786,
 '山口県': 809,
 '徳島県': 832,
 '香川県': 855,
 '愛媛県': 878,
 '高知県': 901,
 '福岡県': 924,
 '佐賀県': 947,
 '長崎県': 970,
 '熊本県': 993,
 '大分県': 1016,
 '宮崎県': 1039,
 '鹿児島県': 1062,
 '沖縄県': 1085}

In [23]:
def save_csv(pref_name, csv_pref_name):
    pref_id = pref_labels[pref_name]
    df_temp = df_dropped.iloc[pref_id: pref_id + rows_data]
    csv_title = '../../Data/Downloaded/urban_rural_pop_' + csv_pref_name + '.csv'
    df_temp.to_csv(csv_title, index = False)

In [24]:
save_csv('全国', 'total')

In [25]:
save_csv('東京都', 'tokyo')
save_csv('神奈川県', 'kanagawa')
save_csv('埼玉県', 'saitama')
save_csv('千葉県', 'chiba')
save_csv('愛知県', 'nagoya')
save_csv('京都府', 'kyoto')
save_csv('大阪府', 'osaka')
save_csv('兵庫県', 'hyogo')