In [2]:
# create price level

In [3]:
import pandas as pd

In [4]:
url = 'http://d-infra.ier.hit-u.ac.jp/Japanese/ltes/LTES_08.xlsx'

In [5]:
xl = pd.ExcelFile(url)

In [6]:
df_original = xl.parse('第1表')

In [7]:
stat_name_jpn = df_original.iloc[0, 4]

In [8]:
stat_name_eng = df_original.iloc[1,4]

In [9]:
df_original

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,第1表 支出諸物価指数の総括,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,Table 1 Summary of Expenditure Price Indexes,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,51865,51865,51866,51866,51867,51867
...,...,...,...,...,...,...,...,...,...,...
106,NaN,NaN,NaN,1965,NaN,NaN,NaN,134.8,NaN,NaN
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,NaN,NaN,NaN,リンク倍率,NaN,321.6,NaN,315.2,NaN,359.7
109,NaN,NaN,NaN,1955Linked Index,NaN,NaN,NaN,NaN,NaN,NaN
110,NaN,NaN,NaN,(1934～1936＝1),NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# linked index name
linked_index = df_original.iloc[109, 3]

In [11]:
linked_index

'1955Linked Index'

In [12]:
# index
unit = df_original.iloc[12,4]

In [13]:
# linked index, 1934 to 1936 price = 1
total_price_index_1955_linked_index = df_original.iloc[108, 5]

In [13]:
total_price_index_1955_linked_index

321.6

In [14]:
# linked index, 1934 to 1936 price = 1
consumer_price_index_1955_linked_index = df_original.iloc[108, 7]

In [15]:
consumer_price_index_1955_linked_index

315.2

In [16]:
# linked index, 1934 to 1936 price = 1
investment_goods_price_index_1955_linked_index = df_original.iloc[108, 9]

In [17]:
investment_goods_price_index_1955_linked_index

359.7

In [16]:
# Remove columns and rows with too many nulls
df_dropped = df_original.loc[df_original.notnull().sum(axis=1) > 2, df_original.notnull().sum() > 2]

In [17]:
df_dropped.columns = ['year_wst', 'J0801__001_1', 'J0801__001_2', 'J0801__002_1', 'J0801__002_2', 'J0801__003_1', 'J0801__003_2']

In [18]:
df_dropped

,year_wst,J0801__001_1,J0801__001_2,J0801__002_1,J0801__002_2,J0801__003_1,J0801__003_2
4,NaN,51865,51865,51866,51866,51867,51867
5,NaN,1,2,1,2,1,2
6,NaN,支出物価指数：総合,支出物価指数：総合,支出物価指数：消費者物価,支出物価指数：消費者物価,支出物価指数：投資財物価,支出物価指数：投資財物価
7,NaN,Summary of Expenditure Price Indexes: Aggregate,Summary of Expenditure Price Indexes: Aggregate,Summary of Expenditure Price Indexes: Consumer...,Summary of Expenditure Price Indexes: Consumer...,Summary of Expenditure Price Indexes: Investme...,Summary of Expenditure Price Indexes: Investme...
8,NaN,J0801__001,J0801__001,J0801__002,J0801__002,J0801__003,J0801__003
...,...,...,...,...,...,...,...
102,1961,NaN,105.1,NaN,105,NaN,105.8
103,1962,NaN,109.9,NaN,111.9,NaN,106.8
104,1963,NaN,116.3,NaN,120.1,NaN,108.9
105,1964,NaN,119.1,NaN,125.1,NaN,110.4
108,リンク倍率,NaN,321.6,NaN,315.2,NaN,359.7

In [46]:
columns = df_original.loc[8].tolist()

In [47]:
columns.append('J0801__004')

In [48]:
columns

[nan,
 nan,
 nan,
 nan,
 'J0801__001',
 'J0801__001',
 'J0801__002',
 'J0801__002',
 'J0801__003',
 'J0801__003',
 'J0801__004']

In [49]:
mylist = columns
[v + '_' + str(mylist[:i].count(v) + 1) if mylist.count(v) >= 2 else v for i, v in enumerate(mylist)]

[nan,
 nan,
 nan,
 nan,
 'J0801__001_1',
 'J0801__001_2',
 'J0801__002_1',
 'J0801__002_2',
 'J0801__003_1',
 'J0801__003_2',
 'J0801__004']

In [55]:
for i, v in enumerate(mylist):
    print(mylist[:i].count(v))

0
0
0
0
0
1
0
1
0
1
0

In [21]:
df_dropped['J0801__001'] = df_dropped['J0801__001_1'].fillna(0) + df_dropped['J0801__001_2'].fillna(0)

In [22]:
df_dropped['J0801__002'] = df_dropped['J0801__002_1'].fillna(0) + df_dropped['J0801__002_2'].fillna(0)

In [23]:
df_dropped['J0801__003'] = df_dropped['J0801__003_1'].fillna(0) + df_dropped['J0801__003_2'].fillna(0)

In [24]:
df_picked = df_dropped[['year_wst', 'J0801__001', 'J0801__002', 'J0801__003']]

In [25]:
df_picked.columns = ['year_wst', 'price_ind_agg', 'price_ind_consumer', 'price_ind_inv']

In [26]:
df_picked = df_picked.iloc[10:]

In [27]:
# rename linked index row
df_picked.loc[108, 'year_wst'] = linked_index

In [28]:
df_picked

             year_wst price_ind_agg price_ind_consumer price_ind_inv
20               1879          32.6               33.1          30.8
21               1880          36.5                 38          28.9
22               1881          40.1               41.8          30.2
23               1882          37.5               38.9          29.9
24               1883            33               33.4          31.9
..                ...           ...                ...           ...
102              1961         105.1                105         105.8
103              1962         109.9              111.9         106.8
104              1963         116.3              120.1         108.9
105              1964         119.1              125.1         110.4
108  1955Linked Index         321.6              315.2         359.7

[75 rows x 4 columns]

In [29]:
df_picked.to_csv('../../Data/Downloaded/pre_price.csv', index = False)