In [4]:
# get population data
# needed to derive the consumption per capita

In [5]:
import pandas as pd

In [6]:
url = "http://d-infra.ier.hit-u.ac.jp/Japanese/ltes/LTES_02.xlsx"
xl = pd.ExcelFile(url)

In [7]:
df_original_1 = xl.parse('第1表')

In [8]:
df_original_2 = xl.parse('第2表')

In [9]:
stat_name_1_jpn = df_original_1.iloc[0, 2]

In [10]:
stat_name_1_eng = df_original_1.iloc[1,2]

In [11]:
stat_name_2_jpn = df_original_2.iloc[0, 2]

In [12]:
stat_name_2_eng = df_original_2.iloc[1,2]

In [13]:
unit_jpn = df_original_1.iloc[12,2]
unit_eng = df_original_1.iloc[13,2]

In [36]:
# Remove columns and rows with too many nulls
df_dropped_1 = df_original_1.loc[df_original_1.notnull().sum(axis=1) > 2, df_original_1.notnull().sum() > 2]

In [15]:
# Remove columns and rows with too many nulls
df_dropped_2 = df_original_2.loc[df_original_2.notnull().sum(axis=1) > 2, df_original_2.notnull().sum() > 2]

In [39]:
df_dropped_1.index[df_dropped_1.iloc[:,1] == 'J0201__101'].tolist()[0]

8

In [74]:
ind = df_dropped_1.index[df_dropped_1.iloc[:,1].str.contains(r'^J', na = False)].tolist()[0]

In [75]:
ind

8

In [76]:
df_dropped_1.loc[ind]

Unnamed: 1            NaN
Unnamed: 2     J0201__101
Unnamed: 3     J0201__102
Unnamed: 4     J0201__103
Unnamed: 5     J0201__104
Unnamed: 6     J0201__105
Unnamed: 7     J0201__106
Unnamed: 8     J0201__107
Unnamed: 9     J0201__108
Unnamed: 10    J0201__109
Unnamed: 11    J0201__110
Unnamed: 12    J0201__111
Unnamed: 13    J0201__112
Unnamed: 14    J0201__113
Unnamed: 15    J0201__114
Unnamed: 19           NaN
Unnamed: 20    J0201__201
Unnamed: 21    J0201__202
Unnamed: 22    J0201__203
Unnamed: 23    J0201__204
Unnamed: 24    J0201__205
Unnamed: 25    J0201__206
Unnamed: 26    J0201__207
Unnamed: 27    J0201__208
Unnamed: 28    J0201__209
Unnamed: 29    J0201__210
Unnamed: 30    J0201__211
Unnamed: 31    J0201__212
Unnamed: 32    J0201__213
Unnamed: 33    J0201__214
Unnamed: 34    J0201__215
Name: 8, dtype: object

In [77]:
columns_1 = df_dropped_1.loc[ind]
columns_1[0] = 'year_wst'
columns_1

Unnamed: 1       year_wst
Unnamed: 2     J0201__101
Unnamed: 3     J0201__102
Unnamed: 4     J0201__103
Unnamed: 5     J0201__104
Unnamed: 6     J0201__105
Unnamed: 7     J0201__106
Unnamed: 8     J0201__107
Unnamed: 9     J0201__108
Unnamed: 10    J0201__109
Unnamed: 11    J0201__110
Unnamed: 12    J0201__111
Unnamed: 13    J0201__112
Unnamed: 14    J0201__113
Unnamed: 15    J0201__114
Unnamed: 19           NaN
Unnamed: 20    J0201__201
Unnamed: 21    J0201__202
Unnamed: 22    J0201__203
Unnamed: 23    J0201__204
Unnamed: 24    J0201__205
Unnamed: 25    J0201__206
Unnamed: 26    J0201__207
Unnamed: 27    J0201__208
Unnamed: 28    J0201__209
Unnamed: 29    J0201__210
Unnamed: 30    J0201__211
Unnamed: 31    J0201__212
Unnamed: 32    J0201__213
Unnamed: 33    J0201__214
Unnamed: 34    J0201__215
Name: 8, dtype: object

columns_1 = df_dropped_1.iloc[4,:]
columns_1[0] = 'year_wst'

In [78]:
df_dropped_1.columns = columns_1

In [79]:
df_dropped_1

8,year_wst,J0201__101,J0201__102,J0201__103,J0201__104,J0201__105,J0201__106,J0201__107,J0201__108,J0201__109,...,J0201__206,J0201__207,J0201__208,J0201__209,J0201__210,J0201__211,J0201__212,J0201__213,J0201__214,J0201__215
4,NaN,31828,31829,31830,31831,31832,31833,31834,31835,31836,...,31847,31848,31849,31850,31851,31852,31853,31854,31855,31856
5,NaN,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
6,NaN,男女・年齢５歳階級別内地人：人口 (年末現在）：男子：総数,男女・年齢５歳階級別内地人：人口 (年末現在）：男子：０ー４歳,男女・年齢５歳階級別内地人：人口 (年末現在）：男子：５ー９歳,男女・年齢５歳階級別内地人：人口 (年末現在）：男子：１０ー１４歳,男女・年齢５歳階級別内地人：人口 (年末現在）：男子：１５ー１９歳,男女・年齢５歳階級別内地人：人口 (年末現在）：男子：２０ー２４歳,男女・年齢５歳階級別内地人：人口 (年末現在）：男子：２５ー２９歳,男女・年齢５歳階級別内地人：人口 (年末現在）：男子：３０ー３４歳,男女・年齢５歳階級別内地人：人口 (年末現在）：男子：３５ー３９歳,...,男女・年齢５歳階級別内地人：人口 (年末現在）：女子：２０ー２４歳,男女・年齢５歳階級別内地人：人口 (年末現在）：女子：２５ー２９歳,男女・年齢５歳階級別内地人：人口 (年末現在）：女子：３０ー３４歳,男女・年齢５歳階級別内地人：人口 (年末現在）：女子：３５ー３９歳,男女・年齢５歳階級別内地人：人口 (年末現在）：女子：４０ー４４歳,男女・年齢５歳階級別内地人：人口 (年末現在）：女子：４５ー４９歳,男女・年齢５歳階級別内地人：人口 (年末現在）：女子：５０ー５４歳,男女・年齢５歳階級別内地人：人口 (年末現在）：女子：５５ー５９歳,男女・年齢５歳階級別内地人：人口 (年末現在）：女子：６０歳以上,男女・年齢５歳階級別内地人：人口 (年末現在）：男女計
7,NaN,Population by Sex and Age Groups: (Japanese on...,Population by Sex and Age Groups: (Japanese on...,Population by Sex and Age Groups: (Japanese on...,Population by Sex and Age Groups: (Japanese on...,Population by Sex and Age Groups: (Japanese on...,Population by Sex and Age Groups: (Japanese on...,Population by Sex and Age Groups: (Japanese on...,Population by Sex and Age Groups: (Japanese on...,Population by Sex and Age Groups: (Japanese on...,...,Population by Sex and Age Groups: (Japanese on...,Population by Sex and Age Groups: (Japanese on...,Population by Sex and Age Groups: (Japanese on...,Population by Sex and Age Groups: (Japanese on...,Population by Sex and Age Groups: (Japanese on...,Population by Sex and Age Groups: (Japanese on...,Population by Sex and Age Groups: (Japanese on...,Population by Sex and Age Groups: (Japanese on...,Population by Sex and Age Groups: (Japanese on...,Population by Sex and Age Groups: (Japanese on...
8,year_wst,J0201__101,J0201__102,J0201__103,J0201__104,J0201__105,J0201__106,J0201__107,J0201__108,J0201__109,...,J0201__206,J0201__207,J0201__208,J0201__209,J0201__210,J0201__211,J0201__212,J0201__213,J0201__214,J0201__215
10,NaN,1871,1871,1871,1871,1871,1871,1871,1871,1871,...,1871,1871,1871,1871,1871,1871,1871,1871,1871,1871
11,NaN,1920,1920,1920,1920,1920,1920,1920,1920,1920,...,1920,1920,1920,1920,1920,1920,1920,1920,1920,1920
12,年,人,人,人,人,人,人,人,人,人,...,人,人,人,人,人,人,人,人,人,人
13,Year,person,person,person,person,person,person,person,person,person,...,person,person,person,person,person,person,person,person,person,person
14,1871,17211271,1793235,1834538,1590162,1887888,1696862,1436997,1194343,968898,...,1441418,1299835,1071255,905790,1095136,1037139,859733,765913,1690468,34269471
15,1872,17302543,1861754,1827149,1626439,1834070,1699110,1446493,1216369,991436,...,1449036,1311849,1099209,922581,1059768,1023757,871136,768246,1695973,34450897
16,1873,17388255,1930289,1818993,1662483,1778996,1700741,1455542,1238168,1013837,...,1456496,1323773,1127276,939397,1023856,1010067,882516,770478,1701257,34624889
17,1874,17470510,1996879,1811692,1698134,1722592,1703375,1464029,1261371,1037748,...,1463650,1337204,1155331,954403,987314,994242,892047,772530,1707879,34791807
18,1875,17593369,2070740,1806839,1738225,1671370,1708316,1477843,1286075,1062639,...,1472206,1351848,1186137,973330,952399,982052,905302,776222,1716412,35036567
19,1876,17756906,2148371,1807472,1782615,1621043,1718697,1493206,1315655,1091940,...,1485605,1371193,1219816,992750,918822,969868,918822,781527,1730273,35358865
20,1877,17904015,2227259,1804725,1826210,1568392,1725947,1507518,1342801,1119001,...,1498830,1388726,1253761,1014019,884381,958967,934105,786708,1742123,35662663
21,1878,18055787,2251557,1870580,1820023,1605159,1677383,1514881,1361406,1150154,...,1465285,1399007,1268242,1044329,901025,929686,924312,791755,1755474,35968803
22,1879,18150584,2270638,1931222,1809613,1637183,1622662,1517389,1375814,1177973,...,1424917,1405102,1280804,1070039,916919,897103,911515,792622,1763583,36164709
23,1880,18311148,2296218,1999577,1803648,1673639,1572928,1523488,1397141,1210367,...,1390666,1416116,1296137,1101626,934382,867121,901661,798042,1779689,36489790
24,1881,18460135,2322285,2067535,1798017,1711255,1521115,1530345,1415892,1242367,...,1352982,1426315,1312649,1131152,953321,835989,890988,801156,1792976,36793228
25,1882,18619804,2347957,2137553,1791225,1750262,1469103,1537996,1435587,1275457,...,1316659,1436859,1327754,1163172,970851,804419,880238,806269,1806707,37112203
26,1883,18822262,2346901,2168108,1863218,1752177,1509394,1501866,1447287,1291078,...,1357492,1407978,1342534,1181729,1002226,824593,856380,802155,1828688,37520505
27,1884,18996763,2343966,2195806,1933677,1749427,1548081,1460705,1456906,1306847,...,1397185,1376419,1355647,1198936,1032784,843975,830759,796773,1848435,37877643
28,1885,19118304,2332666,2216033,1998063,1743764,1581242,1461808,1460785,1317383,...,1430561,1341270,1362168,1273982,1061997,860616,803622,788423,1863719,38176457
29,1886,19201538,2317857,2233362,2060531,1732152,1613090,1367286,1463303,1326959,...,1464012,1301768,1368574,1225418,1087988,876116,773044,778770,1874393,38289042
30,1887,19373144,2311216,2260846,2132983,1730022,1652529,1325123,1472359,1340622,...,1503714,1266894,1380491,1241864,1118640,895297,745118,772073,1892639,38626847
31,1888,19605219,2350196,2258070,2162023,1799399,1654350,1364250,1438735,1352490,...,1515271,1304925,1353616,1256234,1137427,925133,763478,753740,1906750,39081711
32,1889,19823422,2390705,2253923,2188506,1871331,1653273,1403498,1401516,1363851,...,1526188,1345015,1325322,1270183,1153995,955098,781802,732570,1922014,39516174
33,1890,19997339,2423435,2241478,2211484,1935549,1649615,1437665,1361683,1373680,...,1534082,1381071,1291649,1283701,1170433,985628,800823,711401,1931513,39868868
34,1891,20125815,2453337,2225915,2229940,1998493,1642267,1471197,1316228,1378618,...,1538696,1416641,1256569,1292585,1182535,1012458,816369,686311,1938878,40134870
35,1892,20311812,2488197,2216019,2252580,2067742,1637132,1509168,1275582,1387297,...,1546433,1453567,1223418,1304172,1199192,1041723,833782,664199,1948184,40500236
36,1893,20458973,2520545,2238212,2236166,2082723,1694003,1505780,1305282,1348246,...,1606303,1455840,1252510,1272843,1205744,1055280,858051,679121,1925531,40791927
37,1894,20670513,2562887,2267329,2225992,2104048,1756818,1506730,1339315,1312446,...,1672050,1462531,1287931,1242740,1213982,1070194,885324,696345,1908275,41211672
38,1895,20878051,2603753,2296815,2213295,2127686,1822836,1505458,1371825,1275776,...,1740710,1472749,1323189,1215173,1225559,1088463,916054,712486,1890269,41650245
39,1896,21083378,2645964,2325497,2201105,2148396,1886962,1505353,1406261,1237594,...,1808793,1479349,1359742,1183479,1233840,1103741,944265,730232,1871745,42067053
40,1897,21325674,2691300,2358620,2192279,2173086,1955564,1507725,1443748,1200635,...,1881319,1488493,1397187,1155121,1246427,1123271,974634,749555,1855837,42559522
41,1898,21569188,2809010,2376535,2208585,2180767,1955241,1516815,1503552,1178421,...,1932290,1507530,1472995,1145697,1244871,1123623,984813,794735,1870391,43075547
42,1899,21779426,2841592,2380039,2248072,2169780,2002111,1567177,1482507,1210826,...,1972756,1562958,1458607,1174119,1226369,1121995,1016190,823012,1874729,43520895
43,1900,22034710,2894202,2425465,2275178,2165418,2024688,1645256,1431727,1260973,...,1990465,1644445,1409026,1225951,1208600,1134993,1013176,855260,1888706,44056240
44,1901,22340336,2976638,2497901,2293872,2128383,2038849,1744664,1424672,1317612,...,1999868,1744346,1403261,1277959,1159025,1162113,1028631,851232,1911907,44662657
45,1902,22632082,3048138,2536202,2322034,2128429,2060221,1803375,1442669,1362385,...,2011060,1798863,1424154,1317656,1111657,1171346,1042974,879633,1925309,45246208
46,1903,22934257,3101772,2606523,2325977,2146332,2069126,1851814,1447888,1437006,...,2021323,1833045,1431000,1394593,1079699,1173266,1046607,896646,1959626,45856439
47,1904,23159689,3139988,2643062,2333139,2189941,2043151,1888399,1495638,1418174,...,2016141,1872527,1483983,1382036,1107183,1155732,1046184,925659,1980468,46343317
48,1905,23338332,3135500,2689002,2373201,2209816,2022816,1897130,1566770,1367352,...,2014740,1887366,1559748,1333933,1154967,1138303,1057423,922697,2012271,46746940
49,1906,23522148,3104657,2760555,2432200,2204423,1974007,1897697,1658834,1360166,...,1967437,1894196,1652550,1327456,1203813,1091259,1081885,935481,2028384,47131377
50,1907,23773720,3143840,2829951,2461451,2213499,1965940,1900944,1708600,1378130,...,1964315,1902472,1703748,1348216,1241454,1045931,1091167,948352,2054502,47654001
51,1908,24055830,3201340,2872364,2523920,2206517,1975464,1889222,1746654,1380782,...,1969921,1907225,1735004,1352862,1314351,1015440,1092373,950805,2099664,48225368
52,1909,24385111,3293859,2906578,2560457,2219582,2015255,1880388,1787159,1426692,...,1997056,1897600,1771017,1400474,1302726,1041179,1075438,950823,2145823,48850735
53,1910,24719890,3383780,2910500,2611142,2270844,2040498,1881228,1802134,1498249,...,2008092,1893673,1784270,1472329,1257359,1086570,1059871,962217,2182199,49488599
54,1911,25079728,3502148,2880574,2690480,2345148,2059269,1844025,1804691,1586857,...,2016087,1845917,1791729,1561025,1252205,1133399,1016965,985305,2212094,50178398
55,1912,25468505,3585404,2913890,2766388,2385570,2088412,1849264,1811420,1634816,...,2028328,1843517,1799978,1610547,1273312,1170098,975664,996220,2257402,50925427
56,1913,25849757,3653360,2966855,2813821,2454079,2096469,1868045,1798418,1671333,...,2026597,1848915,1805341,1642897,1278732,1241144,948703,999055,2304992,51672473
57,1914,26214767,3707706,3061434,2849644,2489312,2109224,1900818,1789136,1710014,...,2026108,1871730,1796104,1678857,1323753,1231876,973823,984387,2349300,52387547
58,1915,26585481,3747927,3150117,2856507,2540716,2163375,1926857,1788885,1723068,...,2068792,1882756,1793098,1692789,1393205,1190089,1017413,971455,2393205,53109781
59,1916,26918748,3778754,3262773,2826141,2608185,2230478,1950025,1752020,1724943,...,2138376,1895523,1747484,1701216,1478200,1185625,1060814,931770,2419646,53767746
60,1917,27217388,3768991,3339062,2856029,2661861,2254078,1976590,1760040,1732454,...,2174113,1908551,1749672,1710959,1526714,1207243,1094308,892871,2448920,54365876
61,1918,27400099,3741189,3389163,2903783,2698058,2289678,1972739,1774344,1718076,...,2230265,1895028,1747766,1710655,1553477,1208364,1157819,864200,2442309,54710686
62,1919,27553641,3645009,3435216,2996856,2726577,2264891,1961763,1807782,1706473,...,2246650,1885353,1769402,1705439,1589773,1251614,1149560,886109,2454120,55032672
63,1920,27980989,3750579,3465439,3086670,2740572,2299774,1995080,1825331,1703305,...,2290955,1914206,1774534,1701921,1602802,1317606,1112174,927720,2491288,55884992

In [15]:
columns_2 = df_dropped_2.iloc[4,:]
columns_2[0] = 'year_wst'

In [16]:
df_dropped_2.columns = columns_2

In [17]:
df_picked_1 = df_dropped_1.loc[14:, ['year_wst', 'J0201__215']]

In [18]:
df_picked_1.columns = ['year_wst', 'tot_pop']

In [19]:
# 1920 duplicates
df_picked_2 = df_dropped_2.loc[15:, ['year_wst', 'J0202__215']]

In [20]:
df_picked_2.columns = ['year_wst', 'tot_pop']

In [21]:
df_concat = pd.concat([df_picked_1, df_picked_2])

In [22]:
df_concat.to_csv('../../Data/Downloaded/pre_pop.csv', index = False)

In [23]:
df_concat

   year_wst   tot_pop
14     1871  34269471
15     1872  34450897
16     1873  34624889
17     1874  34791807
18     1875  35036567
..      ...       ...
30     1936  70113600
31     1937  70630400
32     1938  71012600
33     1939  71379700
34     1940  71933000

[70 rows x 2 columns]