In [29]:
# create consumption per capita

In [30]:
import pandas as pd

In [31]:
df_consumption = pd.read_csv('../../Data/Downloaded/pre_tot_cns.csv')
df_pop = pd.read_csv('../../Data/Downloaded/pre_pop.csv')

In [32]:
df_pop

    year_wst   tot_pop
0       1871  34269471
1       1872  34450897
2       1873  34624889
3       1874  34791807
4       1875  35036567
..       ...       ...
65      1936  70113600
66      1937  70630400
67      1938  71012600
68      1939  71379700
69      1940  71933000

[70 rows x 2 columns]

In [38]:
df_merged

    year_wst     food     total  non_food   tot_pop    food_cns  non_food_cns
0       1885  2231290   3284000   1052710  38176457   58.446754     27.574848
1       1886  2388119   3466000   1077881  38289042   62.370821     28.151161
2       1887  2540396   3765000   1224604  38626847   65.767625     31.703442
3       1888  2556353   3837000   1280647  39081711   65.410468     32.768448
4       1889  2666277   4096000   1429723  39516174   67.473055     36.180704
5       1890  2591074   3992000   1400926  39868868   64.989906     35.138344
6       1891  2836706   4342000   1505294  40134870   70.679337     37.505890
7       1892  2756212   4291000   1534788  40500236   68.054221     37.895779
8       1893  3002809   4610000   1607191  40791927   73.612825     39.399732
9       1894  2890991   4522000   1631009  41211672   70.149811     39.576385
10      1895  3032284   4791000   1758716  41650245   72.803509     42.225826
11      1896  3098021   4976000   1877979  42067053   73.644831     44.642514
12      1897  3095484   4972000   1876516  42559522   72.733054     44.091567
13      1898  3218220   5278000   2059780  43075547   74.711065     47.817849
14      1899  3339045   5388000   2048955  43520895   76.722802     47.079799
15      1900  3254221   5270000   2015779  44056240   73.865155     45.754676
16      1901  3421230   5346000   1924770  44662657   76.601578     43.095734
17      1902  3369165   5346000   1976835  45246208   74.462925     43.690623
18      1903  3256662   5363000   2106338  45856439   71.018641     45.933309
19      1904  3421930   5515000   2093070  46343317   73.838694     45.164441
20      1905  3173268   5202000   2028732  46746940   67.881834     43.398178
21      1906  3122687   5169000   2046313  47131377   66.254949     43.417212
22      1907  3765417   5840000   2074583  47654001   79.015758     43.534288
23      1908  3714871   5936000   2221129  48225368   77.031470     46.057274
24      1909  3673754   6051000   2377246  48850735   75.203659     48.663464
25      1910  3907202   6305000   2397798  49488599   78.951558     48.451523
26      1911  3896684   6223000   2326316  50178398   77.656604     46.360906
27      1912  4075621   6402000   2326379  50925427   80.031160     45.682072
28      1913  4242372   6604000   2361628  51672473   82.101199     45.703793
29      1914  4059314   6430000   2370686  52387547   77.486239     45.252854
30      1915  4404613   6806000   2401387  53109781   82.934121     45.215532
31      1916  4536025   7193000   2656975  53767746   84.363310     49.415778
32      1917  4677976   7521000   2843024  54365876   86.046181     52.294274
33      1918  4828289   7949000   3120711  54710686   88.251297     57.040246
34      1919  5261367   8697000   3435633  55032672   95.604426     62.428969
35      1920  5296432   8566000   3269568  55884992   94.773781     58.505296
36      1921  5654211   9132000   3477789  56665900   99.781544     61.373577
37      1922  5718695   9698000   3979305  57390000   99.646193     69.337951
38      1923  5867261   9867000   3999739  58119200  100.952198     68.819581
39      1924  5936834  10073000   4136166  58875600  100.836917     70.252634
40      1925  6037237  10271000   4233763  59736800  101.063951     70.873616
41      1926  6089139  10417000   4327861  60740900  100.247757     71.251183
42      1927  6154708  10718000   4563292  61659300   99.818000     74.008171
43      1928  6252475  11030000   4777525  62595200   99.887451     76.324143
44      1929  6245159  10956000   4710841  63460600   98.410021     74.232532
45      1930  6162307  11005000   4842693  64450100   95.613614     75.138642
46      1931  6322409  11247000   4924591  65457500   96.588000     75.233411
47      1932  6118978  11085000   4966022  66433800   92.106398     74.751437
48      1933  6616029  11842000   5225971  67431500   98.114813     77.500441
49      1934  6625302  12589000   5963698  68308900   96.990319     87.304846
50      1935  6494981  12580000   6085019  69254100   93.784787     87.865108
51      1936  6573495  12910000   6336505  70113600   93.754921     90.374835
52      1937  6609629  13567000   6957371  70630400   93.580512     98.503916
53      1938  6655301  13057000   6401699  71012600   93.720002     90.148776
54      1939  6965921  13433000   6467079  71379700   97.589665     90.601095
55      1940  6447466  13389000   6941534  71933000   89.631546     96.499993

In [33]:
df_merged = pd.merge(df_consumption, df_pop, on = 'year_wst')

In [34]:
df_merged['food_cns'] = df_merged['food'] / df_merged['tot_pop'] * 1000
# unit is yen at 1934 to 1936 prices

In [35]:
df_merged['non_food_cns'] = df_merged['non_food'] / df_merged['tot_pop'] * 1000
# unit is yen at 1934 to 1936 prices

In [41]:
df_merged['tot_cns'] = df_merged['total'] / df_merged['tot_pop'] * 1000
# unit is yen at 1934 to 1936 prices

In [42]:
df_picked = df_merged[['year_wst', 'tot_cns', 'food_cns', 'non_food_cns']]

In [43]:
df_picked.to_csv('../../Data/Downloaded/pre_cns.csv', index = False)