In [1]:
import pandas as pd

In [2]:
url = "https://warp.da.ndl.go.jp/info:ndljp/pid/11423429/www.stat.go.jp/data/chouki/zuhyou/01-12.xls"

In [3]:
df_original = pd.read_excel(url, header = None, index_col = None)

In [5]:
stat_name_jpn = df_original.iloc[0,0]

In [6]:
stat_name_eng = df_original.iloc[1,0]

In [7]:
stat_name_jpn, stat_name_eng

('１－１２\u3000都道府県別市区町村数（大正９年～平成１７年）',
 '1-12 Number of Shi, Ku, Machi and Mura for each Prefecture (1920--2005)')

In [8]:
# remove columns and rows with too many nulls
df_dropped = df_original.loc[df_original.notnull().sum(axis=1) > 2, df_original.notnull().sum() > 2].reset_index(drop = True)

In [9]:
df_dropped = df_dropped.replace('-', 0)

In [10]:
df_dropped

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,年次,NaN,全国,北海道,青森県,岩手県,宮城県,秋田県,山形県,福島県,...,愛媛県,高知県,福岡県,佐賀県,長崎県,熊本県,大分県,宮崎県,鹿児島県,沖縄県
1,Year,NaN,Japan 1),Hokkaido,Aomori-ken,Iwate-ken,Miyagi-ken,Akita-ken,Yamagata-ken,Fukushima-ken,...,Ehime-ken,Kochi-ken,Fukuoka-ken,Saga-ken,Nagasaki-ken,Kumamoto-ken,Oita-ken,Miyazaki-ken,Kagoshima-ken,Okinawa-ken
2,大正 9年,1920.0,12244,308,170,241,204,240,230,421,...,296,197,343,135,198,364,258,100,143,56
3,14,1925.0,12018,271,170,239,205,239,229,410,...,283,196,337,133,192,349,257,98,145,57
4,昭和 5年,1930.0,11864,273,167,237,203,238,228,406,...,276,192,321,132,186,350,256,96,143,57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,60,1985.0,601,24,25,18,2,11,4,28,...,14,19,8,6,1,21,11,7,9,28
88,平成 2年,1990.0,587,24,25,18,2,10,4,28,...,14,19,8,5,1,21,11,7,9,28
89,7,1995.0,576,24,25,16,2,10,4,28,...,14,19,8,5,1,21,11,7,9,27
90,12,2000.0,567,24,25,16,2,10,4,28,...,14,19,8,5,1,20,11,7,9,27
91,17,2005.0,288,20,11,11,1,4,3,24,...,0,10,6,3,0,8,1,7,5,23

In [11]:
columns_original_jpn = df_dropped.iloc[0,:]
columns_original_jpn

0       年次
1      NaN
2       全国
3      北海道
4      青森県
5      岩手県
6      宮城県
7      秋田県
8      山形県
9      福島県
10     茨城県
11     栃木県
12     群馬県
13     埼玉県
14     千葉県
15     東京都
16    神奈川県
17     新潟県
18     富山県
19     石川県
20     福井県
21     山梨県
22     長野県
23     岐阜県
24     静岡県
25     愛知県
26     三重県
27     滋賀県
28     京都府
29     大阪府
30     兵庫県
31     奈良県
32    和歌山県
33     鳥取県
34     島根県
35     岡山県
36     広島県
37     山口県
38     徳島県
39     香川県
40     愛媛県
41     高知県
42     福岡県
43     佐賀県
44     長崎県
45     熊本県
46     大分県
47     宮崎県
48    鹿児島県
49     沖縄県
Name: 0, dtype: object

In [12]:
columns_original_eng = df_dropped.iloc[1,:]
columns_original_eng

0              Year
1               NaN
2         Japan  1)
3          Hokkaido
4        Aomori-ken
5         Iwate-ken
6        Miyagi-ken
7         Akita-ken
8      Yamagata-ken
9     Fukushima-ken
10      Ibaraki-ken
11      Tochigi-ken
12        Gumma-ken
13      Saitama-ken
14        Chiba-ken
15      Tokyo-to 1)
16     Kanagawa-ken
17      Niigata-ken
18       Toyama-ken
19     Ishikawa-ken
20        Fukui-ken
21    Yamanashi-ken
22       Nagano-ken
23         Gifu-ken
24     Shizuoka-ken
25        Aichi-ken
26          Mie-ken
27        Shiga-ken
28         Kyoto-fu
29         Osaka-fu
30        Hyogo-ken
31         Nara-ken
32     Wakayama-ken
33      Tottori-ken
34      Shimane-ken
35      Okayama-ken
36    Hiroshima-ken
37    Yamaguchi-ken
38    Tokushima-ken
39       Kagawa-ken
40        Ehime-ken
41        Kochi-ken
42      Fukuoka-ken
43         Saga-ken
44     Nagasaki-ken
45     Kumamoto-ken
46         Oita-ken
47     Miyazaki-ken
48    Kagoshima-ken
49      Okinawa-ken
Name: 1, dtype: object

In [13]:
len(columns_original_eng)

50

In [14]:
columns_prefs = [i.split('-')[0] for i in columns_original_eng[3:]]

In [15]:
columns_prefs

['Hokkaido',
 'Aomori',
 'Iwate',
 'Miyagi',
 'Akita',
 'Yamagata',
 'Fukushima',
 'Ibaraki',
 'Tochigi',
 'Gumma',
 'Saitama',
 'Chiba',
 'Tokyo',
 'Kanagawa',
 'Niigata',
 'Toyama',
 'Ishikawa',
 'Fukui',
 'Yamanashi',
 'Nagano',
 'Gifu',
 'Shizuoka',
 'Aichi',
 'Mie',
 'Shiga',
 'Kyoto',
 'Osaka',
 'Hyogo',
 'Nara',
 'Wakayama',
 'Tottori',
 'Shimane',
 'Okayama',
 'Hiroshima',
 'Yamaguchi',
 'Tokushima',
 'Kagawa',
 'Ehime',
 'Kochi',
 'Fukuoka',
 'Saga',
 'Nagasaki',
 'Kumamoto',
 'Oita',
 'Miyazaki',
 'Kagoshima',
 'Okinawa']

In [37]:
num_of_prefs = len(columns_prefs)

In [38]:
columns = ['year_jpn', 'year_wst', 'total']

In [39]:
columns = columns + columns_prefs

In [40]:
len(df_dropped.columns)

50

In [41]:
len(columns)

50

In [42]:
columns

['year_jpn',
 'year_wst',
 'total',
 'Hokkaido',
 'Aomori',
 'Iwate',
 'Miyagi',
 'Akita',
 'Yamagata',
 'Fukushima',
 'Ibaraki',
 'Tochigi',
 'Gumma',
 'Saitama',
 'Chiba',
 'Tokyo',
 'Kanagawa',
 'Niigata',
 'Toyama',
 'Ishikawa',
 'Fukui',
 'Yamanashi',
 'Nagano',
 'Gifu',
 'Shizuoka',
 'Aichi',
 'Mie',
 'Shiga',
 'Kyoto',
 'Osaka',
 'Hyogo',
 'Nara',
 'Wakayama',
 'Tottori',
 'Shimane',
 'Okayama',
 'Hiroshima',
 'Yamaguchi',
 'Tokushima',
 'Kagawa',
 'Ehime',
 'Kochi',
 'Fukuoka',
 'Saga',
 'Nagasaki',
 'Kumamoto',
 'Oita',
 'Miyazaki',
 'Kagoshima',
 'Okinawa']

In [43]:
df_dropped.columns = columns

In [44]:
df = df_dropped.drop([0, 1])

In [45]:
#df.to_csv('../../Data/Downloaded/shi_gun_counts.csv', index = False)

In [46]:
#df_dropped.iloc[]

In [47]:
# Number of rows of data for each category
rows_data = 18

In [48]:
data_row_init = 0

In [49]:
df.iloc[0, 0]

'大正 9年'

In [50]:
df.iloc[data_row_init + rows_data, 0]

'大正 9年'

In [51]:
df.iloc[0:rows_data, 0]

2     大正 9年
3       14
4     昭和 5年
5       10
6       15
7       20
8       25
9       30
10      35
11      40
12      45
13      50
14      55
15      60
16    平成 2年
17       7
18      12
19      17
Name: year_jpn, dtype: object

In [52]:
# Number of rows between labels in each category
rows_label = 19

In [53]:
df_original.iloc[5,0]

'計'

In [54]:
df_original.iloc[5 + rows_label, 0]

'市'

In [55]:
# Create a dictionary of categories and indices
cat_labels = {}
num_of_cats = 5
cat_row_init = 5
for i in range(num_of_prefs):
    cat_name = df_original.iloc[cat_row_init + i * rows_label, 0].strip()
    cat_row  = data_row_init + i * rows_data
    cat_labels[cat_name] = cat_row

IndexError: single positional indexer is out-of-bounds

In [57]:
cat_labels

{'計': 0, '市': 18, '区': 36, '町': 54, '村': 72, '(1) 各年10月1日現在。': 90}

In [58]:
df.iloc[cat_labels['村'], 0]

'大正 9年'

In [59]:
def save_csv(cat_name, csv_cat_name):
    cat_id = cat_labels[cat_name]
    df_temp = df.iloc[cat_id: cat_id + rows_data]
    csv_title = '../../Data/Downloaded/num_of_mun_' + csv_cat_name + '.csv'
    df_temp.to_csv(csv_title, index = False)

In [60]:
save_csv('計', 'tot')
save_csv('市', 'shi')
save_csv('区', 'ku')
save_csv('町', 'cho')
save_csv('村', 'son')

FileNotFoundError: [Errno 2] No such file or directory: '../../Data/Downloaded/num_of_mun_tot.csv'

In [61]:
df

,year_jpn,year_wst,total,Hokkaido,Aomori,Iwate,Miyagi,Akita,Yamagata,Fukushima,...,Ehime,Kochi,Fukuoka,Saga,Nagasaki,Kumamoto,Oita,Miyazaki,Kagoshima,Okinawa
2,大正 9年,1920.0,12244,308,170,241,204,240,230,421,...,296,197,343,135,198,364,258,100,143,56
3,14,1925.0,12018,271,170,239,205,239,229,410,...,283,196,337,133,192,349,257,98,145,57
4,昭和 5年,1930.0,11864,273,167,237,203,238,228,406,...,276,192,321,132,186,350,256,96,143,57
5,10,1935.0,11545,274,167,237,202,236,228,407,...,269,190,310,125,185,346,248,95,140,57
6,15,1940.0,11190,276,165,236,202,234,228,404,...,253,190,306,125,170,339,240,89,140,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,60,1985.0,601,24,25,18,2,11,4,28,...,14,19,8,6,1,21,11,7,9,28
88,平成 2年,1990.0,587,24,25,18,2,10,4,28,...,14,19,8,5,1,21,11,7,9,28
89,7,1995.0,576,24,25,16,2,10,4,28,...,14,19,8,5,1,21,11,7,9,27
90,12,2000.0,567,24,25,16,2,10,4,28,...,14,19,8,5,1,20,11,7,9,27
91,17,2005.0,288,20,11,11,1,4,3,24,...,0,10,6,3,0,8,1,7,5,23